
.App {
  text-align: center;
  font-size: 18px;
  font-weight: 500;

}

form{
  margin-left: 700px;
  margin-right: 700px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 206, 206);
  border-radius: 6px;

}
input{
  margin: 3px;
  height:22px ;
  border-radius: 6px;
}
textarea{
  border-radius: 6px;}

button{
  background-color: blue;
  padding: 5px;
  margin:5px;
  text-align: center;
  color: aliceblue;
  border-radius: 6px;
  
}
